@tailwind base;
@tailwind components;
@tailwind utilities;



.containerUl {
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }